body {
  background: purple;
  font-family: arial;
}
h1{
  font-size: 40px;
}
a {
  color: blue;
  text-decoration: underline;
}
a: hover {
  color: #000000;
  text-decoration: none;
}
h2 {font-size: 30px;
}
p {
  font-size: 20px;
}

contact {
  display:


}

img{
  width: 30%;
  margin: 3px auto;
  display: grid;
}
